<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CamBrightv1.0</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>dashboard.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>controller.admin.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/cpanel/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudentFilter</filter-name>
    <filter-class>controller.student.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ADMINDASHBOARD</servlet-name>
    <servlet-class>controller.admin.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMINDASHBOARD</servlet-name>
    <url-pattern>/admin/cpanel/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardStud</servlet-name>
    <servlet-class>controller.student.DashboardStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardStud</servlet-name>
    <url-pattern>/user/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADMINLOGIN</servlet-name>
    <servlet-class>controller.admin.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMINLOGIN</servlet-name>
    <url-pattern>/admin/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginStudent</servlet-name>
    <servlet-class>controller.student.LoginStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStudent</servlet-name>
    <url-pattern>/student_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.admin.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/admin/cpanel/change_pw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordStud</servlet-name>
    <servlet-class>controller.student.ChangePasswordStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordStud</servlet-name>
    <url-pattern>/user/change_pw_stud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LOGOUTADMIN</servlet-name>
    <servlet-class>controller.admin.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGOUTADMIN</servlet-name>
    <url-pattern>/admin/cpanel/logout_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutStudent</servlet-name>
    <servlet-class>controller.student.LogoutStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutStudent</servlet-name>
    <url-pattern>/user/logout_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchCreate</servlet-name>
    <servlet-class>controller.admin.branch.BranchCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchCreate</servlet-name>
    <url-pattern>/admin/cpanel/branch_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BRANCHLIST</servlet-name>
    <servlet-class>controller.admin.branch.BranchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BRANCHLIST</servlet-name>
    <url-pattern>/admin/cpanel/branchlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchListActiveOnly</servlet-name>
    <servlet-class>controller.admin.branch.BranchListActiveOnly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchListActiveOnly</servlet-name>
    <url-pattern>/admin/cpanel/branchlistactive.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchListActiveOnlyBranch</servlet-name>
    <servlet-class>controller.admin.branch.BranchListActiveOnlyBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchListActiveOnlyBranch</servlet-name>
    <url-pattern>/admin/cpanel/branchlistactivebranch.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchAdminDis</servlet-name>
    <servlet-class>controller.admin.branch.BranchAdminDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchAdminDis</servlet-name>
    <url-pattern>/admin/cpanel/branchmgnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchStatus</servlet-name>
    <servlet-class>controller.admin.branch.BranchStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchStatus</servlet-name>
    <url-pattern>/admin/cpanel/branch_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BranchUpdate</servlet-name>
    <servlet-class>controller.admin.branch.BranchUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchUpdate</servlet-name>
    <url-pattern>/admin/cpanel/branch_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgMainList</servlet-name>
    <servlet-class>controller.admin.main.program.ProgMainList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgMainList</servlet-name>
    <url-pattern>/admin/cpanel/progmainlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgMainCreate</servlet-name>
    <servlet-class>controller.admin.main.program.ProgMainCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgMainCreate</servlet-name>
    <url-pattern>/admin/cpanel/prog_main_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgMainUpdate</servlet-name>
    <servlet-class>controller.admin.main.program.ProgMainUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgMainUpdate</servlet-name>
    <url-pattern>/admin/cpanel/prog_main_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgMainDeleted</servlet-name>
    <servlet-class>controller.admin.main.program.ProgMainDeleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgMainDeleted</servlet-name>
    <url-pattern>/admin/cpanel/prog_main_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassCreate</servlet-name>
    <servlet-class>controller.admin.classes.ClassCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassCreate</servlet-name>
    <url-pattern>/admin/cpanel/create_class</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassList</servlet-name>
    <servlet-class>controller.admin.classes.ClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassList</servlet-name>
    <url-pattern>/admin/cpanel/classlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassUpdate</servlet-name>
    <servlet-class>controller.admin.classes.ClassUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassUpdate</servlet-name>
    <url-pattern>/admin/cpanel/class_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubProgramCreate</servlet-name>
    <servlet-class>controller.admin.subprogram.SubProgramCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProgramCreate</servlet-name>
    <url-pattern>/admin/cpanel/sub_prog_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubProgramList</servlet-name>
    <servlet-class>controller.admin.subprogram.SubProgramList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProgramList</servlet-name>
    <url-pattern>/admin/cpanel/subproglist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubProgramListBranch</servlet-name>
    <servlet-class>controller.admin.subprogram.SubProgramListBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProgramListBranch</servlet-name>
    <url-pattern>/admin/cpanel/subproglistbranch.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubProgramDelete</servlet-name>
    <servlet-class>controller.admin.subprogram.SubProgramDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProgramDelete</servlet-name>
    <url-pattern>/admin/cpanel/subprog_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubProgUpdate</servlet-name>
    <servlet-class>controller.admin.subprogram.SubProgramUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubProgUpdate</servlet-name>
    <url-pattern>/admin/cpanel/subprog_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PositionCreated</servlet-name>
    <servlet-class>controller.admin.position.PositionCreated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionCreated</servlet-name>
    <url-pattern>/admin/cpanel/position_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PositionUpdate</servlet-name>
    <servlet-class>controller.admin.position.PositionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionUpdate</servlet-name>
    <url-pattern>/admin/cpanel/position_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PositionList</servlet-name>
    <servlet-class>controller.admin.position.PositionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionList</servlet-name>
    <url-pattern>/admin/cpanel/positionlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImgEmp</servlet-name>
    <servlet-class>controller.admin.emp.UploadImgEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgEmp</servlet-name>
    <url-pattern>/admin/cpanel/upload_img_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLevelList</servlet-name>
    <servlet-class>controller.admin.userlevel.UserLevelList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLevelList</servlet-name>
    <url-pattern>/admin/cpanel/ulvlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpCreate</servlet-name>
    <servlet-class>controller.admin.emp.EmpCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCreate</servlet-name>
    <url-pattern>/admin/cpanel/emp_create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpUpdate</servlet-name>
    <servlet-class>controller.admin.emp.EmpUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdate</servlet-name>
    <url-pattern>/admin/cpanel/emp_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpStatus</servlet-name>
    <servlet-class>controller.admin.emp.EmpStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpStatus</servlet-name>
    <url-pattern>/admin/cpanel/emp_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpList</servlet-name>
    <servlet-class>controller.admin.emp.EmpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpList</servlet-name>
    <url-pattern>/admin/cpanel/emplist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpListActive</servlet-name>
    <servlet-class>controller.admin.emp.EmpListActive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpListActive</servlet-name>
    <url-pattern>/admin/cpanel/emplistactive.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpListActiveBranch</servlet-name>
    <servlet-class>controller.admin.emp.EmpListActiveBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpListActiveBranch</servlet-name>
    <url-pattern>/admin/cpanel/emplistactivebranch.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeachingList</servlet-name>
    <servlet-class>controller.admin.teaching.TeachingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachingList</servlet-name>
    <url-pattern>/admin/cpanel/teachinglist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeachStatus</servlet-name>
    <servlet-class>controller.admin.teaching.TeachStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachStatus</servlet-name>
    <url-pattern>/admin/cpanel/teach_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeachDelete</servlet-name>
    <servlet-class>controller.admin.teaching.TeachDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachDelete</servlet-name>
    <url-pattern>/admin/cpanel/teach_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignTask</servlet-name>
    <servlet-class>controller.admin.teaching.AssignTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTask</servlet-name>
    <url-pattern>/admin/cpanel/assign_task</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateStudent</servlet-name>
    <servlet-class>controller.admin.student.CreateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudent</servlet-name>
    <url-pattern>/admin/cpanel/create_stud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImgStud</servlet-name>
    <servlet-class>controller.admin.student.UploadImgStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgStud</servlet-name>
    <url-pattern>/admin/cpanel/upload_img_stud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListStudInfo</servlet-name>
    <servlet-class>controller.admin.student.ListStudInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudInfo</servlet-name>
    <url-pattern>/admin/cpanel/liststudinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListStudInfoAttendance</servlet-name>
    <servlet-class>controller.student.student.ListStudInfoAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudInfoAttendance</servlet-name>
    <url-pattern>/user/liststudattinfo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudUpdate</servlet-name>
    <servlet-class>controller.admin.student.StudUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudUpdate</servlet-name>
    <url-pattern>/admin/cpanel/stud_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudDelete</servlet-name>
    <servlet-class>controller.admin.student.StudDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudDelete</servlet-name>
    <url-pattern>/admin/cpanel/stud_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudStatus</servlet-name>
    <servlet-class>controller.admin.student.StudStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudStatus</servlet-name>
    <url-pattern>/admin/cpanel/stud_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PromoteClass</servlet-name>
    <servlet-class>controller.admin.promote.PromoteClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoteClass</servlet-name>
    <url-pattern>/admin/cpanel/promote_class</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PromoteList</servlet-name>
    <servlet-class>controller.admin.promote.PromoteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromoteList</servlet-name>
    <url-pattern>/admin/cpanel/promotelist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentFilterSubject</servlet-name>
    <servlet-class>controller.admin.payment.PaymentFilterSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentFilterSubject</servlet-name>
    <url-pattern>/admin/cpanel/paymentsubjectfilter.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentPayNow</servlet-name>
    <servlet-class>controller.admin.payment.PaymentPayNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentPayNow</servlet-name>
    <url-pattern>/admin/cpanel/payment_now</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentSearchList</servlet-name>
    <servlet-class>controller.admin.payment.PaymentSearchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentSearchList</servlet-name>
    <url-pattern>/admin/cpanel/paymentlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PeriodList</servlet-name>
    <servlet-class>controller.admin.period.PeriodList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeriodList</servlet-name>
    <url-pattern>/admin/cpanel/periodlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PeriodChange</servlet-name>
    <servlet-class>controller.admin.period.PeriodChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeriodChange</servlet-name>
    <url-pattern>/admin/cpanel/period_change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceEmpList</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceEmpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceEmpList</servlet-name>
    <url-pattern>/admin/cpanel/attendanceemplist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceEmpCheckList</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceEmpCheckList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceEmpCheckList</servlet-name>
    <url-pattern>/admin/cpanel/attendanceempchecklist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceEmpSubmit</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceEmpSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceEmpSubmit</servlet-name>
    <url-pattern>/admin/cpanel/attendance_emp_submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceStuCheckList</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceStuCheckList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceStuCheckList</servlet-name>
    <url-pattern>/admin/cpanel/attendancestuchecklist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceStuCheckListForStudentOnly</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceStuCheckList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceStuCheckListForStudentOnly</servlet-name>
    <url-pattern>/user/attendancestuchecklist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendanceStuSubmit</servlet-name>
    <servlet-class>controller.admin.attendance.AttendanceStuSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceStuSubmit</servlet-name>
    <url-pattern>/admin/cpanel/attendance_stu_submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreSubmit</servlet-name>
    <servlet-class>controller.admin.score.ScoreSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreSubmit</servlet-name>
    <url-pattern>/admin/cpanel/score_submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreList</servlet-name>
    <servlet-class>controller.admin.score.ScoreList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreList</servlet-name>
    <url-pattern>/admin/cpanel/scorelist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreStudList</servlet-name>
    <servlet-class>controller.student.score.ScoreStudList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreStudList</servlet-name>
    <url-pattern>/user/scorestudlist.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreStatus</servlet-name>
    <servlet-class>controller.admin.score.ScoreStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreStatus</servlet-name>
    <url-pattern>/admin/cpanel/score_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateStudRankPDF</servlet-name>
    <servlet-class>controller.admin.report.CreateStudRankPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudRankPDF</servlet-name>
    <url-pattern>/admin/cpanel/report_rank_pdf</url-pattern>
  </servlet-mapping>
</web-app>